.videos {
    margin: .5rem;
    margin-right: auto;
}

.uploadDate {
    float: right;
}

.thumbnail {
    text-align: left;
    background:none;
    border:none;
}

.videoThumbnail{
    margin: .5rem;
}

.nothing {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}